.root {
  -fx-font-size: 16pt;
  -fx-font-family: "Helvetica";
  -fx-base: #87c7d1;
  -fx-background: #f2f2f2;
}

.button {
  -fx-background-color: #f2836b;
  -fx-text-fill: #fff;
}

.book-grid-item {
  -fx-background-color: #9acdd9;
  -fx-padding: 10px;
  -fx-background-radius: 5;
  -fx-alignment: center;
}

.book-grid-item > .label {
  -fx-text-fill: #fff;
  -fx-padding: 5px;
}
